.game-board{
    min-height: 100%;
    height: auto;
    background-image:  url("~@/assets/tableTop.webp");
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__snap{
        
    }

    &__border{
        border: 5px double lightgoldenrodyellow;
       
        border-radius: 5px; 
    }
}