.div {
  &__overlay {
    &--text {
      position: relative;
      top: 90px;
      text-align: center;
      font-size: 50px;
      z-index: 5;
    }
  }

  &--themed {
    color: var(--font-colour) !important;
  }
}
