.div {
  &__overlay {
    &--text {
      position: relative;
      top: 90px;
      text-align: center;
      font-size: 50px;
      z-index: 5;
    }
  }

  &--themed{
    *{
      color: var(--font-colour) !important;
    }
    
  }

  &__container{
    padding: 1rem;

    &--wide{
      width: 100%;
    }
  }

  &__100pc{
    width: 100%;
  }
  &__50pc{
    width: 50%;
    display: inline-block;
  }
  &__33pc{
    width: 33.3%;
    display: inline-block;
  }
  &__25pc{
    width: 25%;
    display: inline-block;
  }
  &__20pc{
    width: 20%;
    display: inline-block;
  }
  &__16pc{
    width: 16%;
    display: inline-block;
  }
  &__12pc{
    width: 12%;
    display: inline-block;
  }
}
