.font {
  &__oxygen {
    font-family: "Oxygen-Regular","Gill Sans", sans-serif;
  }
  &__oxygen-light {
    font-family: "Oxygen-Light", "Gill Sans", sans-serif;
  }

  &__size {
    &--lg {
      font-size: 36px;
    }
  }
  &__size {
    &--xl {
      font-size: 48px;
    }
  }
  &__size {
    &--xxl {
      font-size: 60px;
    }
  }
}
