.layout {
  height: 100%; // 100% of #app height set in base/_global.scss (100vh for responsivness)

  &__header {
    height: $header--height; // variable height set in helpers/_variables.scss
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
  &__content {
    height: 95%;
    position: relative;
    top: 5%;
  }
}
