/* css-dan*/
/* Sidebar styles */
#dockSidebar {
    top: $header--height;
    height: calc(100% - #{$header--height});

    .dock {
        height: 100%;

        > div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }



    &.e-sidebar {
        // IE Fallback colours
        border-color: #8080804a;
        background: $grey-50;
        // Theme colours
        border-color: var(--sidebar-border-colour);
        background: var(--sidebar-colour);
        overflow: auto;

        &.e-right {
            .mdi-chevron-double-right {
                display: none;
            }

            .mdi-chevron-double-left {
                display: inline-block;
            }

            &.e-open {
                .mdi-chevron-double-right {
                    display: inline-block;
                }

                .mdi-chevron-double-left {
                    display: none;
                }
            }
        }

        &.e-left {
            .mdi-chevron-double-right {
                display: inline-block;
            }

            .mdi-chevron-double-left {
                display: none;
            }

            &.e-open {
                .mdi-chevron-double-right {
                    display: none;
                }

                .mdi-chevron-double-left {
                    display: inline-block;
                }
            }
        }
    }

    .e-menu-wrapper {
        padding-bottom: $padding--sm;
        background-color: transparent;

        ul, li {
            width: 100%;

            &:hover, &:active, &:focus, .e-menu-item.e-selected, .e-menu-item.e-focused {
                background-color: transparent !important;

                span:nth-child(1)::before {
                    -webkit-animation: spinner-border 3s infinite linear;
                    -moz-animation: spinner-border 3s infinite linear;
                    -o-animation: spinner-border 3s infinite linear;
                    animation: spinner-border 3s infinite linear;
                }
            }
        }

        > ul > li:hover {
        }
    }

    &.e-sidebar.e-right.e-close {
        visibility: visible;
        transform: translateX(0%);
    }

    &.e-dock.e-close span.e-text {
        display: none;
    }

    &.e-dock.e-open span.e-text {
        display: inline-block;
    }

    li {
        list-style-type: none;
        cursor: pointer;
    }

    ul {
        padding: 0px;
    }

    .mdi::before {
        font-size: 36px;
        color: #5d5d5d;
        color: var(--sidebar-item-colour);
    }

    &.e-sidebar ul li:hover span {
        &::before {
            color: $accent;
            color: var(--sidebar-item-colour--hover);
        }

        color: $accent;
        color: var(--sidebar-item-colour--hover);
    }

    &.e-sidebar.e-open .e-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 23px;
        font-size: 17px;
        padding: $padding--sm;
    }

    &.e-sidebar.e-open .e-icons {
        margin-right: 16px;
    }

    &.e-sidebar span.e-icons {
        color: #c0c2c5;
        line-height: 2
    }

    &.e-sidebar .e-open .e-icons {
        margin-right: 16px;
    }

    &.e-sidebar .e-open .e-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 23px;
        font-size: 1rem;
    }

    &.e-right {
        &.e-sidebar.e-open .sidebar-item {
            text-align: left;
            padding: 0 $padding--sm;
            color: #5d5d5d;
            color: var(--sidebar-item-colour);
            display: flex;
            align-items: center;

            .e-text {
            }
        }
    }

    &.e-left {
        &.e-sidebar.e-open .sidebar-item {
            text-align: left;
            padding: 0 $padding--sm;
            color: #5d5d5d;
            color: var(--sidebar-item-colour);
            display: flex;
            align-items: center;
            flex-direction: row-reverse;

            .e-text {
                text-align: right;
            }
        }
    }

    .sidebar-item {
        text-align: center;
        border-bottom: 1px #bdbdbd8a solid;
    }

    &.e-sidebar.e-close {
        .sidebar-item {
            text-align: center;
            border-bottom: none;
        }
    }
}


