// Fonts
$sansSerif: "Open Sans";

// Font Sizing
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$headingLineHeight: 1.4;
$fontSize--sm: 0.9 rem;
$fontSize--md: 1.1rem;
$fontSize--lg: 1.5rem;

// Colors

$black: rgba(51, 51, 51, 1);
$white: rgba(255, 255, 255, 1);
$red: #d52b1e;
$blue: #00a1de;
$warning: rgba(255, 158, 54, 1);
$fadedGrey: rgba(138, 138, 138, 1);
$lightGrey: rgba(211, 211, 211, 1);
$background__colour--lightGrey: rgba(248, 248, 248, 1);
$grid-altRow__colour--grey: $background__colour--lightGrey;
$navLink--colour: $black;
$gridHeader__colour: $fadedGrey;

$verastar--red: #00a3b3;
$verastar--orange: #01988a;
$verastar--pink: #00727d;

// Border
$border--xs: 1px;
$border--sm: 2px;
$border--md: 4px;
$border--lg: 6px;
$borderRadius--sm: 5px;
$borderRadius--md: 10px;

// Spacing
$pad: 1em;
$margin--xs: 0.1rem;
$margin--sm: 0.5rem;
$margin--md: 1rem;
$margin--lg: 1.5rem;
$padding--xs: 0.2rem;
$padding--sm: 0.5rem;
$padding--md: 1rem;
$padding--lg: 1.5rem;

// Breakpoints
$smallBreakpoint: 600px;
$largeBreakpoint: 1080px;

//Layout
$sideNav--width: 20%;
$sideNav--height: 90%;
$entity--width: 80%;
$entity--height: 90%;
$header--width: 100%;
$header--height: 40px;
