.input {
    &__spinner {
        &--hidden {
            .e-input-group-icon.e-spin-up { // Sync class
                display: none;
            }

            .e-input-group-icon.e-spin-down { // Sync class
                display: none;
            }
        }

        &--plus-minus {
            .e-input-group-icon.e-spin-up::before { /* + instead of ^ for numeric textbox */
                content: '\e823' !important;
                color: rgba(0, 0, 0, 0.54) !important;
            }

            .e-input-group-icon.e-spin-down::before { /* - instead of v for numeric textbox */
                content: '\e934';
                color: rgba(0, 0, 0, 0.54);
            }
        }
    }
}
