.popup-dialog {
    &__header {
        &--success {
            .e-dlg-header-content { // Sync class
                background-color: $btn-success-bgcolor;
            }
        }

        &--danger {
            .e-dlg-header-content { // Sync class
                background-color: red;
            }
        }

        &--verastar-gradient {
            .e-dlg-header-content { // Sync class
                @include verastar-gradient(to right);
            }
        }

        &__title {
            &--center {
                .e-dlg-header { // Sync class
                    width: 100%;
                    text-align: center;
                }
            }

            &--lg {
                .e-dlg-header { // Sync class
                    font-size: $fontSize--lg;
                }
            }

            &--white {
                .e-dlg-header { // Sync class
                    color: white;
                }
            }
        }
    }

    &__body {
        &--font {
            &-md {
                .e-dlg-content { // Sync class
                    padding-top: $padding--sm !important;
                    font-size: $fontSize--md;
                }
            }

            &-sm {
                .e-dlg-content { // Sync class
                    padding-top: $padding--sm !important;
                    font-size: $fontSize--sm;
                }
            }
        }
    }
}
