.new-user-form {
    height:100%;
    overflow-y:auto;
    overflow-x: hidden;

    ul {
        list-style: none;
    }

    li {
        float: left;
        margin-left: $margin--md;
    }
}


.bold-font {
    font-weight: bold;
}

