.layout-entity {
  height: 100%;
  background-color: transparent;
  padding: $padding--md;

  &__container {
    height: 100%;
    border: 1px solid $grey-300;
    border-radius: $borderRadius--sm;

    &__title {
      // IE Fallback colours
      background: $grey-100;
      color: $fadedGrey;
      // Theme colours
      background: var(--entityHeader-backgroundColour);
      color: var(--font-colour);
      height: 7%;
      display: flex;
      align-items: center; // Vertical align
      justify-content: center; // Horizontal align
      font-size: 20px;
      font-weight: 100;
    }

    &__body {
      padding: 0px;
      background: white;
      background: var(--entity-backgroundColour);
      height: 95%;
    }
  }
}
